h1 {
	text-align: center;
	text-shadow: 2px 2px #ffffff;
	font-family: Tahoma, Geneva, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Tahoma, Geneva, sans-serif;
}

/* Change the link color to black on hover */
li a:hover {
    background-color: #111;
}

iframe {
	margin: 0 auto;
	display: block;
}
/*.active {
    background-color: #4CAF50;
}*/